<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Livro</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
     <p>Felipe Leonhardsen- 1610014193<br/>Thiago Pereira - 162001418<br/>Filipe Vaz- 1620017214<br/> Kelson Pereira - 1620017303<br/>José Flávio - 1610014639</p>
     <a class="btn btn-sm btn-success" th:href="@{/livro}" >Livro</a>
    <a class="btn btn-sm btn-success" th:href="@{/post}" >Post</a>
    <a class="btn btn-sm btn-success" th:href="@{/restLivro}" >Rest de Livro</a>
    <a class="btn btn-sm btn-success" th:href="@{/restPost}" >Rest de Post</a>
    
</body>
</html>